@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  /* font-family: HK Grotesk; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Hanken Grotesk", sans-serif;
  /* font-family: 'Great Vibes', cursive; */
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
/*! NAVIGATION */
nav {
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  width: 100%;
  border-bottom: 1px solid rgba(65, 65, 65, 0.3);
}
.logo-container {
  /* background-color: aliceblue; */
  width: 30%;
}
.logo-container h1 a {
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
  color: #000000;
}

.properties-container {
  display: flex;
  align-items: center;
  width: 70%;
  /* background-color: rgb(19, 115, 199); */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  position: relative;
}

.searchTerm {
  width: 300px;
  border: 2px solid #ffc400;
  background: #ffc40028;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  /* color: #9dbfaf; */
  font-family: "Hanken Grotesk", sans-serif;
}

.search #search-results {
  background-color: #ffe89b;
  position: absolute;
  width: 100%;
  height: 300px;
  top: 100%;
  z-index: 10;
  border-radius: 10px;
  padding: 10px 5px;
  overflow-y: scroll;
}
.search #search-results::-webkit-scrollbar {
  display: none;
}

/* .search #search-results ::-webkit-scrollbar {
  display: none;
} */

.search #search-results .search-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px 30px;
  border-radius: 5px;
  transition: 0.2s ease;
}
.search #search-results .search-card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px black;
}

.search #search-results img {
  width: 15%;
}

/* .searchTerm:focus {
  color: #00b4cc;
} */

.searchButton {
  width: 40px;
  height: 30px;
  border: 1px solid #ffc400;
  background: #ffc400;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.account-cart-container {
  display: flex;
  align-items: center;
  /* background-color: aqua; */
  justify-content: space-between;
  align-items: center;
  width: 23%;
}

.account-cart-container .sign-up i,
.cart i {
  margin-right: 10px;
  color: #ffc400;
}

.account-cart-container .sign-up:hover,
.cart:hover {
  cursor: pointer;
}

.account-cart-container .vertical-line {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 25px;
}

/* SHORT CATALOG */
.sort-catalog-section {
  width: 100%;
  background-color: #c5c5c52f;
  padding: 0.5rem 10rem;
}

.sort-catalog-section ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* font-size: ; */
}

.sort-catalog-section ul li a {
  font-size: 1.2rem;
  color: black;
  transition: 0.3s ease;
}

.sort-catalog-section ul li a:hover {
  color: #ffc400;
}

.sort-catalog-section .full-btn {
  font-weight: 900;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 0.3s ease;
}

.sort-catalog-section .full-btn:hover {
  border-color: #ffc400;
}

/* SLIDER SECTION */
.slider-section {
  display: relative;
  margin: 3rem 0;
}

.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
  width: 60%;
}

.dots-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

/* TOP SELLERS SECTION */
.top-sellers-section {
  width: 100%;
  padding: 2rem 12rem;
  /* background-color: #bbb; */
}

.top-sellers-section .title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-sellers-section .title-container h2 {
  font-size: 2rem;
}

.top-sellers-section .title-container a {
  font-size: 1.2rem;
  color: black;
}

.top-sellers-section .title-container i {
  color: #ffc400;
  transition: 0.3s ease;
}

.top-sellers-section .title-container a:hover i {
  transform: translateX(6px);
}

.top-sellers-section .line-horizontal {
  margin: 10px 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

.top-sellers-section .top-products {
  /* background-color: aliceblue; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-products .product-box {
  /* background-color: aquamarine; */
  width: 15%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  /* padding: 1rem; */
  padding: 10px;
  transition: 0.3s ease;
}

.top-products .product-box:hover {
  border-color: #ffc400;
  box-shadow: 0px 0px 10px 1px#ffc400;
}
.product-box img {
  object-fit: contain;
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.product-box .info-content {
  /* padding: 1rem .5rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: beige; */
  /* height: 5rem; */
}
.product-box .info-content h3 {
  font-size: 1.4rem;
}

.product-box .info-content h5 {
  font-size: 1.2rem;
  border: 1px solid red;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background-color: red;
  color: white;
}
.product-box .prices {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-box .prices .old-price {
  font-size: 1rem;
  text-decoration: line-through;
  font-weight: 600;
}

.product-box .prices .new-price {
  font-size: 1.4rem;
  color: red;
  font-weight: 900;
}

.about-section {
  background-color: #f9f9f9;
  width: 100%;
  padding: 2rem 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0;
}

.about-section .about-info-container {
  width: 50%;
  /* background-color: #ffc400; */
}

.about-section .about-info-container h2 {
  font-size: 3rem;
}

.about-section .about-info-container p {
  font-size: 1.2rem;
  width: 80%;
}

.about-section .about-cards-container {
  width: 50%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-cards-container .card {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15);
  border-radius: 6px;
}

.about-cards-container .card i {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* !!! */
.news-section {
  width: 100%;
  padding: 4rem 12rem;
  /* margin: 4rem 0; */
}

.news-section .title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-section .title-container h2 {
  font-size: 2rem;
}

.news-section .title-container a {
  font-size: 1.2rem;
  color: black;
}

.news-section .title-container i {
  color: #ffc400;
  transition: 0.3s ease;
}

.news-section .title-container a:hover i {
  transform: translateX(6px);
}

.news-section .line-horizontal {
  margin: 10px 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

.news-section .slider {
  margin: 1rem 0;
  width: 100%;
  /* background-color: aliceblue; */
}
.news-section .slider-item {
  /* width: 100px;
  height: 100px; */
  /* width: 50%; */
  /* width: 100%; */
  /* background-color: #ffc400; */
  border: 1px solid transparent;
  margin: 0px 1rem;
  /* box-shadow: 0px 20px 50px -8px rgba(69, 78, 96, 0.15); */
  transition: 0.3s ease;
}

.news-section .slider-item:hover {
  border-color: rgba(0, 0, 0, 0.5);
}

.news-section .slider-item img {
  width: 100%;
  object-fit: contain;
  /* margin: 0 auto; */
}

.news-section .slider-item h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0.5rem 0;
}

.news-section .slider-item p {
  padding: 0.5rem 1rem;
  text-align: justify;
}

.news-section .slider-item .data-p {
  float: right;
  opacity: 0.6;
}

footer {
  width: 100%;
  background-color: #f9f9f9;
  padding: 4rem 8rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

footer .main-info {
  width: 100%;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .main-info .column h1 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
}

footer .main-info .column {
  display: flex;
  flex-direction: column;
}

footer .main-info .column h3 {
  padding: 0.5rem 0;
  font-size: 2rem;
  transition: 0.3s ease;
}
footer .main-info .column h3:hover {
  cursor: pointer;
  color: #ffc400;
}

footer .main-info .column p {
  padding: 0.2rem 0;
  font-size: 1.2rem;
  transition: 0.3s ease;
}

footer .main-info .column p:hover {
  cursor: pointer;
  text-shadow: 0px 0px 15px #ffc400;
}

footer .main-info .column form {
  display: flex;
  flex-direction: column;
}

footer .main-info .column form textarea {
  margin: 10px 0;
  padding: 5px 10px;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 5px;
  font-family: "Hanken Grotesk", sans-serif;
  border: 1px solid black;
  transition: 0.3s ease;
}
footer .main-info .column form .submit-btn {
  color: black;
  background-color: transparent;
  font-size: 1rem;
  font-family: "Hanken Grotesk", sans-serif;
  border: 1px solid black;
  transition: 0.2s ease;
  border-radius: 5px;
}

footer .main-info .column form .submit-btn:hover {
  background-color: #ffc400;
  color: white;
  border-color: white;
}

footer .line-horizontal {
  margin: 30px 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

footer .copyright {
  font-size: 1.2rem;
}

/* FULL CATALOG SECTION */

.full-catalog-section {
  /* min-width: 100%; */
}

.full-catalog-section .main-content-box {
  padding: 5rem 10rem;
  width: 100%;
  min-height: 100vh;
  background-color: antiquewhite;
  display: flex;
}

.full-catalog-section .filters-box {
  /* background-color: #ffc40028; */
  background-color: #f9f9f9;
  width: 20%;
  border: 1px solid black;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* padding-top: 4rem; */
  border-radius: 10px;
}

.full-catalog-section .filters-box .line-horizontal {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 1px;
  margin: 10px auto;
}

.full-catalog-section .filters-box .back {
  font-size: 1.5rem;
  color: black;
  font-weight: 900;
  /* transition: .3s ease; */
}

.full-catalog-section .filters-box i {
  color: #ffc400;
  transition: 0.3s ease;
}

.full-catalog-section .filters-box .back:hover i {
  /* color: #ffc400; */
  transform: translateX(-6px);
}

.full-catalog-section .filters-box ul {
  font-size: 1.6rem;
  font-weight: bolder;
}
.full-catalog-section .filters-box ul li a {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: 100;
  transition: 0.3s ease;
}
.full-catalog-section .filters-box .selected {
  /* background-color: #007bff; */
  border: 1px solid black;
  padding: 0 15px;
  border-radius: 5px;
  font-weight: 900;
}

.full-catalog-section .filters-box ul input[type="checkbox"] {
  color: black;
  font-size: 1.2rem;
  font-weight: 100;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  width: 18px;
  height: 18px;
  border: 1px solid #000000;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
}

.full-catalog-section .filters-box ul input[type="checkbox"] + label {
  color: black;
  font-size: 1.2rem;
  font-weight: 100;
  margin-left: 10px;
}
.full-catalog-section .filters-box p {
  color: black;
  font-size: 1.6rem;
  font-weight: bolder;
  margin: 10px 0;
}

.full-catalog-section .filters-box select {
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M15 7l-5-5-5 5h10zm0 6l-5 5-5-5h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.full-catalog-section .filters-box select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  border-color: #007bff;
}

.full-catalog-section .filters-box option {
  background-color: #fff;
  color: #555;
  font-size: 16px;
}

.full-catalog-section .filters-box option:hover,
.full-catalog-section .filters-box option:focus,
.full-catalog-section .filters-box option:active {
  background-color: #007bff;
  color: #fff;
  outline: none;
}

.full-catalog-section .filters-box .reset-filter {
  font-size: 1.4rem;
  font-weight: bolder;
  margin: 30px 0;
  border: 2px solid red;
  color: red;
  padding: 5px 15px;
  border-radius: 6px;
  transition: 0.2s ease;
  height: 50px;
}

.full-catalog-section .filters-box .reset-filter:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

/* ? */
.full-catalog-section .products-box {
  background-color: #f9f9f9;
  width: 100%;
  padding: 50px;
  /* height: 100px; */
  margin: 0 50px;
  border-radius: 10px;
}

.full-catalog-section .products-box .minisection-name h2 {
  text-align: center;
  color: black;
  font-size: 3rem;
  margin-bottom: 20px;
}

.full-catalog-section .products-box .product-list {
  display: grid;
  gap: 10px 20px;
  grid-template-columns: repeat(4, 1fr);
}

.products-box .product-list .product-card img {
  width: 100%;
}

.products-box .product-list .product-card {
  /* background-color: #007bff; */
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  height: 500px;
  transition: 0.3s ease;
  /* display: flex;
  flex-direction: column; */
  position: relative;
}

.products-box .product-list .product-card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.products-box .product-list .product-card p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.products-box .product-list .product-card .card-price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-box .product-list .product-card .card-price-box .new-price-txt {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: 900;

  background: red;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
}

.products-box .product-list .product-card .limited-txt {
  font-size: 1.3rem;
  color: #ffc400;
  /* text-shadow: 0px 0px 10px rgb(255, 118, 118); */
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.products-box .product-list .product-card .product-card-btn {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 auto;
  font-weight: 600;
  color: black;
  background-color: #ffc400;
  transition: 0.3s ease;
  position: absolute;
  bottom: 3%;
  /* top: 50%; */
  left: 49%;
  transform: translate(-50%, 0);
}

.products-box .product-list .product-card .product-card-btn:hover {
  background-color: #000000;
  color: #ffc400;
}

/* ? PRODUCT CARD PAGE*/
.section-product-card {
  background-color: #eeeeee7e;
  min-height: 70vh;
  width: 50%;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.section-product-card #productDetails .product-details {
  /* background-color: #ffe89b; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.section-product-card #productDetails .product-details img {
  width: 40%;
  border-radius: 15px;
  outline: 3px solid rgb(0, 0, 0);
  border: 3px solid rgb(255, 255, 255);
}
.section-product-card #productDetails .product-details .product-info-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-product-card
  #productDetails
  .product-details
  .product-info-section
  h2 {
  font-size: 2rem;
  color: black;
}

.section-product-card #productDetails .product-details .product-info-section p {
  font-size: 1rem;
  color: black;
  line-height: 26px;
  margin: 10px 0;
}

.section-product-card
  #productDetails
  .product-details
  .product-info-section
  .category-txt {
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
}

.section-product-card
  #productDetails
  .product-details
  .product-info-section
  .price-box {
  display: flex;
  justify-content: space-around;
}
.section-product-card
  #productDetails
  .product-details
  .product-info-section
  .price-box
  p {
  font-size: 1.2rem;
  font-weight: 600;
}

.section-product-card
  #productDetails
  .product-details
  .product-info-section
  .price-box
  .sale-paragraph {
  font-size: 1.4rem;
  color: red;
}
.section-product-card
  #productDetails
  .product-details
  .product-info-section
  .add-to-cart-btn {
  color: white;
  background-color: #ffc400;
  text-align: center;
  width: 30%;
  margin: 20px auto;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 5px 10px;
  transition: .3s ease;
  border: 1px solid transparent;
}

.section-product-card
  #productDetails
  .product-details
  .product-info-section
  .add-to-cart-btn:hover {
    color: black;
    background-color: white;
    border-color: black;
}
